.cart {
  position: relative;
  padding: 20px;

  &__count {
    width: 29px;
    height: 29px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 5px;
    border-radius: 50%;
    background-color: orange;
    font-size: 14px;
    font-weight: 600;
  }

  @media screen and (min-width: 1000px) {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
